<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <title>Weather App</title>
</head>

<body>
    <div class="flex justify-center items-center w-full">

        <form method="get" class="bg-gray-100 p-4 rounded w-full flex justify-center items-center gap-4">
            {% csrf_token %}
            <label for="city_name" class="text-gray-800">Enter city name :</label>
            <input type="text" name="city_name" id="city_name" value="{{city_name}}" class="border border-gray-300 rounded p-2">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded ">Get Weather</button>
        </form>
    </div>


    {% if weather_info.status %}
    <div class="flex flex-col justify-center items-center bg-sky-800 w-2/4 mx-auto mt-32 rounded-2xl pb-7">

        <h2 class="text-2xl font-bold mt-4 text-gray-50">Weather Information:</h2>
        <h3 class="text-xl font-bold text-orange-300 ">Weather of : {{city_name}}</h3><br>
        <p class="text-white font-semibold">Temperature (Celsius): {{ weather_info.temp }}°</p>
        <p class="text-white font-semibold pt-2">Feels like in (Celsius): {{ weather_info.feels }}°</p>
        <p class="text-white font-semibold pt-2">Pressure: {{ weather_info.pressure }} hPa</p>
        <p class="text-white font-semibold pt-2">Humidity: {{ weather_info.humidity }} %</p>
        <p class="text-white font-semibold pt-2">Info : {{weather_info.description}}</p>
        <p class="text-white font-semibold pt-2">Colud : {{weather_info.cloudy}} %</p>
           <p class="text-white font-semibold pt-2">Sunrise at {{weather_info.sunrise_time}} and Sunset at
               {{weather_info.sunset_time}}</p>

    </div>
    {% else %}
            <div class="flex items-center justify-center">
                <div class="font-bold text-purple-600 mt-10 p-10 rounded-xl">{{weather_info.message}}</div>
            </div>
    {% endif %}



</body>

</html>




